.container {
  width: 100%; /* width and height resize automatically with content */
  height: 100%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  display: grid;
}

.view1 {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.view2 {
  background-color: rgb(179, 179, 179);
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.view3 {
  background-color: blue;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

div {
  border: 1px solid black;
}
